<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TP1 SpringBoot</title>
</head>
<body>
<h1>Hello this is my first experience with Spring Boot !</h1>
<p>Spring Boot Extension is Spring's convention-over-configuration solution intended to aid in creating production-grade.
    Spring applications with minimal amounts of configuration.
    Most of the application can be preconfigured using Spring team's "opinionated view" of the best configuration and use of the Spring platform and third-party libraries.
    A Spring Boot application can be written using several programming languages, including Java and Kotlin.</p>

<p th:text=${name}></p>
</body>
</html>